name: ml
channels:
  - defaults
dependencies:
  - python=3.11
  - pip
  - pip:
      - jupyterlab
      - ipykernel
      - numpy
      - pandas
      - matplotlib
      - seaborn
      - scikit-learn